/* nav */
.list {
  display: flex;
  gap: 1rem;
  justify-content: end;
  font-size: 25px;
  align-items: center;
  cursor: pointer;
}
.btn {
  margin-top: 1rem;
}

.count {
  background: #ff4d4d;
  border-radius: 100rem;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.9rem;
  margin-left: 2px;
  align-items: center;
}

/* search */
.search {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.search input {
  border: none;
  background: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 10rem 0 0 10rem;
  outline: none;
  width: 40rem;
  height: 3rem;
  padding-left: 1rem;
}
.search button {
  outline: none;
  border: none;
  border-radius: 0 10rem 10rem 0;
  height: 3.1rem;
  width: 5rem;
  font-size: 1rem;
  background: var(--color-primary);
  color: var(--color-bg);
  opacity: 0.8;
  border: 1px solid var(--color-white);
  cursor: pointer;
}

/*products*/
.product {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 85%;
}
/* .product-container {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin: 6rem;
} */
/* .product-container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  overflow: hidden;

  background-size: cover;
} */

.product-img img {
  width: 300px;
  height: 250px;
  border-radius: 10px 10px 0 0;
  display: flex;
 margin-left: 20px;

}
.product-img {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 2px var(--color-primary);
  border-radius: 10px;
  gap: 1rem;
}
.clock-span {
  display: flex;
  justify-content: center;
  padding: 0.9rem;
  gap: 0.05cm;
  font-family: sans-serif;
}

.product-img i {
  background: red;
  border-radius: 4px solid whitesmoke;
  border-radius: 100rem;
  cursor: pointer;
  color: #f1f1f1;
  padding: 0.5rem;
  align-items: center;
}
.clock-span img {
  width: 20px;
  height: 20px;
}
.product-img h6 {
  padding-left: 1rem;
  color: var(--color-primary);
  font-family: sans-serif;
}
.product-img h4 {
  padding-left: 1rem;
  color: var(--color-primary);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.product-img h5 {
  padding-left: 1rem;
  color: var(--color-primary);
  font-family: sans-serif;
  font-weight: 400;
}
.product-img p {
  padding-right: 1rem;
  text-align: right;
  margin-top: -15px;
  color: #504d4d;
  font-family: sans-serif;
}

.clock-span span {
  color: #e72929;
  font-weight: 50;
}
.clock {
  color: var(--color-primary);
  font-size: 30px;
  font-weight: 600;
}
.cart-img {
  font-size: 30px;
  text-align: center;
  color: #fff;
  align-items: center;
  padding: 0.1rem;
}
.but {
  padding: 0.5rem;
  border-radius: 100rem;
  background: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 45%;
  margin-bottom: 0.7rem;
  cursor: pointer;
}
.but:hover {
  background: #e72929;
}
.purchase {
  margin: 2rem;
}

/*-Media Querries (medium DEVICES) --*/
@media screen and (max-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .search {
    width: auto;
  }
  .product-img img {
    width: 100%;
    height: 50%;
  }
  .search {
    width: 70%;
    margin-left: 20%;
  }
}
/*-Media Querries (SMALL DEVICES) --*/
@media screen and (max-width: 600px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
  ul {
    margin-top: 5rem;
  }
  .product-img {
    margin-left: -3rem;
    margin-right: 100%;
    width: 300px;
    height: 350px;
  }
  .product-img img {
    width: 100%;
    height: 60%;
  }

  .search {
    width: 50%;
    align-items: center;
    margin-left: 30%;
    display: flex;
  }
}
